:root {
  --text-color: #434455;
  --text-color-footer: #e7e9fc;
  --text-color-blue: #4d5ae5;
  --text-color-white: #ffffff;
  --background-blue: #2e2f42;
  --background-section-team: #f4f4fd;
  --font-weigth-logo: 800;
  --font-weight-subtitle: 500;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.list {
  list-style: none;
}

.header-logo,
.footer-logo,
.header-link,
.header-mail,
.header-tel {
  text-decoration: none;
}

.conteiner {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*----------  studio page ----------*/

/*----------  header ----------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E7E9FC;
}

.header > .conteiner {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weigth-logo);
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weigth-logo);
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-link.current {
  color: var(--text-color-blue);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts {
  gap: 40px;
}

.header-mail,
.header-tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-link:focus,
.header-link:hover,
.header-tel:focus,
.header-tel:hover,
.header-mail:focus,
.header-mail:hover {
  color: var(--text-color-blue);
}

/*----------  section heading ----------*/

.heading {
  background: var(--background-blue);
  text-align: center;
}

.heading-title {
  margin-bottom: 48px;
  width: 494px;
  margin-right: auto;
  margin-left: auto;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--text-color-white);
}

.heading-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--text-color-white);
  background: #4d5ae5;
  border: 0px;
  border-radius: 4px;

  padding: 16px 32px;

  margin: 0 auto;
  display: inline-block;
}

.heading-btn:focus,
.heading-btn:hover {
  background-color: #404BBF;
}

/*----------  section advice ----------*/
.advice {
}

.advice-subtitle {
  margin-bottom: 8px;

  font-weight: var(--font-weight-subtitle);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advice-list {
  display: flex;
  gap: 24px;
}

.advice-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*----------  section product ----------*/

.product-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.product-list {
  display: flex;
  gap: 24px;
}

/*----------  section team ----------*/

.team {
  background-color: var(--background-section-team);
}

.team-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  margin-top: 32px;
  margin-bottom: 8px;

  font-weight: var(--font-weight-subtitle);
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*----------  footer ----------*/

.footer {
  background: var(--background-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  margin-bottom: 16px;

  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weigth-logo);
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weigth-logo);
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-footer);
}

/*----------  portfolio page ----------*/

.portfolio-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.portfolio-subtitle {
  font-weight: var(--font-weight-subtitle);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
